 body { 
    backgroud-color: bisque;
    font-family: bai jamajuree;
 }

 #container {
     display: flex; /* elementos dispostos em linha */
 }

 .cart達o {
   margin: 1rem 1rem;
   background-color: aqua;
   height: 20rem;
   flex-grow: 1; 
   flex-basis: Calc(33% - 6rem);
 }

 .cart達o__conteudo {
   text-align: canter;
   /* background-color: aguamarine; */
   height: 100%
   }

   .cart達o__conteudo h3 {
      background-color: tomato;
      text-align: left;
      padding: 0.5rem;
      position: absolute;
      margin: 0.6rem;
      border-radius: 0.6rem;
      font-size: 1vw;
      }

      .cart達o__conteudo p {
         margin-top: 1rem;
         padding: 2rem;
         }







         footer {
            background-color: black;
            color: white;
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 2rem;
            }

            footer p {
               text-align: center;
               font-size: 0.6rem;
               margin-top: 0.5rem;
               }

   

 




















































































































































































































































































































































































































































































     